{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PyDevs</title>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"
    ></script>
  </head>
  <body>
    {% include "shared/navbar.html" %}
    {% include "shared/flash.html" %}
    <main class="container mx-auto my-6">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
