{% extends "layouts/base.html" %}

{% block content %}
  <h1 class="heading-1">VIP 方案</h1>
  <div class="shadow-xl card bg-base-100 w-96">
  <figure>
    <img
      src="https://img.daisyui.com/images/stock/photo-1606107557195-0e29a4b5b4aa.webp"
      alt="Shoes" />
  </figure>
  <div class="card-body">
    <h2 class="card-title">
      100 方案
      {% if perms.resumes.delete_resume %}
        <span class="text-xs">已購買</span>
      {% endif %}
    </h2>
    <p>If a dog chews shoes whose shoes does he choose?</p>
    <div class="justify-end card-actions">
      <a href="{% url 'payments:new' %}" class="btn btn-primary">Buy Now</a>
    </div>
  </div>
</div>

{% endblock %}
