{% extends "layouts/base.html" %}

{% block content %}
  <h1>登入</h1>

  <form action="{% url 'users:sign_in' %}"
        autocomplete="off"
        method="POST">
    {% csrf_token %}

    <div class="form-control">
      <label>帳號</label>
      <input type="text" name="username" />
    </div>

    <div class="form-control">
      <label>密碼</label>
      <input type="password" name="password" />
    </div>

    <div class="form-control">
      <button class="btn btn-primary">
        登入
      </button>
    </div>

  </form>
{% endblock %}
