{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

  <h1 class="heading-1">Developers</h1>

  <section class="mb-2">
    <form class="flex justify-between">
      <input type="text" name="keyword" class="w-full input-lg input input-bordered" placeholder="搜尋關鍵字..." value="{{ keyword }}" />
      <button class="btn btn-lg btn-primary">搜尋</button>
    </form>
  </section>

  {% if user.is_authenticated %}
    <a href="{% url 'resumes:new' %}" class="btn btn-primary">新增</a>
  {% endif %}

  <section class="grid gap-2 my-2">
  {% for resume in resumes %}
    {% include 'resumes/_resume.html' with resume=resume %}
  {% endfor %}
  </section>
{% endblock %}
