{% extends "layouts/base.html" %}

{% block content %}
  <h1 class="heading-1">新增 Resume</h1>
  <form action="{% url 'resumes:index' %}" method="POST">
    {% csrf_token %}

    {% for field in form %}
      <div class="form-control">
        <label class="label">{{ field.label }}</label>
        {{ field }}
        {% if field.errors %}
          <span class="text-red-500">{{ field.errors }}</span>
        {% endif %}
      </div>
    {% endfor%}

    <div class="my-2">
      <button class="btn btn-primary">新增</button>
    </div>

  </form>
{% endblock %}
