{% extends "layouts/base.html" %}

{% block content %}
  <section class="flex items-center gap-2 px-1">
    <h2 class="heading-2">{{ resume.name }}</h2>
    {% if user.is_authenticated %}
      {% include "resumes/_bookmark.html" with resume=resume bookmarked=bookmarked only %}
    {% endif %}
  </section>
  <h3 class="px-1">{{ resume.introduce }}</h3>

  <section>
    {% for tag in resume.tags.all %}
      <span class="select-none badge badge-primary">#{{ tag.name }}</span>
    {% endfor %}
  </section>

  <article class="flex flex-col gap-2 p-6 my-3 text-lg leading-7 bg-white shadow">
    {{ resume.profile|linebreaks }}
  </article>

  <form method="POST"
        hx-target="#comments"
        hx-swap="afterbegin"
        x-data="resume_comment"
        hx-confirm="確認送出留言？"
        hx-on::after-request="this.reset()"
        hx-post="{% url 'resumes:comment' resume.id %}">
    {% csrf_token %}
    <section class="flex flex-col gap-2">
      <textarea name="content" x-model="content" class="textarea textarea-bordered" placeholder="請填寫留言"></textarea>
      <div>
        {% if user.is_authenticated %}
          <button class="btn btn-primary btn-sm" :disabled="!canSubmit">新增留言</button>
        {% else %}
          <button disabled class="btn btn-primary">請先登入</button>
        {% endif %}
      </div>
    </section>
  </form>

  <section class="my-4">
    {% if comments %}
      <div id="comments" class="gap-2 chat chat-start">
        {% for comment in comments %}
          {% include "resumes/_comment.html" with comment=comment %}
        {% endfor %}
      </div>
    {% else %}
      <div id="comments">目前無留言</div>
    {% endif %}
  </section>
{% endblock %}
