<nav class="shadow navbar bg-base-100">
  <div class="flex-1 gap-2">
    <a href="{% url 'pages:root' %}" class="text-xl btn btn-ghost">PyDev</a>
    <ul class="px-1 menu menu-horizontal">
      <li><a href="{% url 'resumes:index' %}">Developers</a></li>
      <li><a href="{% url 'pages:about' %}">關於</a></li>
    </ul>
  </div>

  <div class="flex-none">
    <ul class="menu menu-horizontal">
      <li><a href="{% url 'pages:vip' %}">VIP 方案</a></li>
      {% if user.is_authenticated %}
        <li><a>{{ request.user.username }}</a></li>
        <li>
          <form action="{% url 'users:sign_out' %}" method="POST">
            {% csrf_token %}
            <button>登出</button>
          </form>
        </li>
      {% else %}
        <li><a href="{% url 'users:register' %}">註冊</a></li>
        <li><a href="{% url 'users:sign_in' %}">登入</a></li>
      {% endif %}
    </ul>
  </div>
</nav>
