{% extends "layouts/base.html" %}
{% load static %}

{% block content %}

  <h1 class="heading-1">Developers</h1>
  {% if user.is_authenticated %}
    <a href="{% url 'resumes:new' %}" class="btn btn-primary">新增</a>
  {% endif %}

  <ul>
  {% for resume in resumes %}
    <li>
    <a href="{% url 'resumes:show' resume.id %}">
      {{ resume.name }} {{ resume.email }}
    </a>
    {% if resume.user == request.user %}
      <a href="{% url 'resumes:edit' resume.id %}" class="btn">編輯</a>
    {% endif %}
    </li>
  {% endfor %}
  </ul>
{% endblock %}
